<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/user/register.js') }}"></script>
    <title>Register</title>

    <style>
        .vertical {
            margin-top: 55%;
            margin-bottom: 55%;
        }
    </style>
</head>
<body class="login-bg text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="vertical">
                    <h1 class="h3 mb-4 font-weight-normal text-center">Register</h1>
                    <form method="post">
                        <!--Removed "required" attribute on fields for testing purposes-->
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="title">Title</label>
                                <select class="form-control" id="title" name="title">
                                    {% for title in titles %}
                                    <option value="{{ title["title_id"] }}">{{ title["title"] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-8">
                                <label for="first_name">First Name</label>
                                <input class="form-control" required type="text" name="first_name" id="first_name" />
                            </div>
                        </div>
                        <label for="first_name">Last Name</label>
                        <input class="form-control" required type="text" name="last_name" id="last_name"/>

                        <label for="email">Email address:</label>
                        <input class="form-control" required type="email" name="email" id="email"/>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="username">Username:</label>
                                <input class="form-control" type="text" required name="username" id="username"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="username">Password:</label>
                                <input class="form-control" type="password" required name="password" id="password"/>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block mt-3" id="register_button">Register</button>
                        <p class="text-left mt-2">Already have an account? Click <a href="/user/signin">here</a> to sign in</p>

                        <div class="mt-2">
                            <p id="response"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>